<div class="wrapper" *ngIf="beforeInstall">
  <div class="center">
    <img src="../assets/wolf.png" class="rounded mx-auto d-block" >
    <button  id="installButton" type="button" class ="hidden" (click)="addToHomeScreen()">
      התקן אפליקציה
    </button>
  </div>
</div>

<div class="wrapper" *ngIf="showGuid">
  <div class="center">
    <p class="text-monospace red"> ***לחץ על התקן***</p>
    <img src="../assets/banner_click_guid.gif" class="rounded mx-auto d-block gif fade-in">
  </div>
</div>

<div class="wrapper" *ngIf="showSpinner">
  <div class="spinner-border center" role="status">
    <span class="sr-only">מבצע התקנה...</span>
  </div>
</div>



